*Spam Email filter by using decision tree Algorithm from sklearn library*

In [ ]:
# importing modules
import pandas as pd
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder

In [ ]:
data=pd.read_csv("3.csv")

In [ ]:
data

                                                   text spam
0      date wed NUMBER aug NUMBER NUMBER NUMBER NUMB...    0
1     martin a posted tassos papadopoulos the greek ...    0
2     man threatens explosion in moscow thursday aug...    0
3     klez the virus that won t die already the most...    0
4      in adding cream to spaghetti carbonara which ...    0
...                                                 ...  ...
8244  Subject: put the 10 on the ft\nthe transport v...    0
8245  Subject: 3 / 4 / 2000 and following noms\nhpl ...    0
8246  Subject: calpine daily gas nomination\n>\n>\nj...    0
8247  Subject: industrial worksheets for august 2000...    0
8248  Subject: important online banking alert\ndear ...    1

[8249 rows x 2 columns]

In [ ]:
le_text=LabelEncoder()

In [ ]:

data['text_n'] = le_text.fit_transform(data['text'])
data

                                                   text spam  text_n
0      date wed NUMBER aug NUMBER NUMBER NUMBER NUMB...    0     226
1     martin a posted tassos papadopoulos the greek ...    0    6565
2     man threatens explosion in moscow thursday aug...    0    6557
3     klez the virus that won t die already the most...    0    6538
4      in adding cream to spaghetti carbonara which ...    0     532
...                                                 ...  ...     ...
8244  Subject: put the 10 on the ft\nthe transport v...    0    4201
8245  Subject: 3 / 4 / 2000 and following noms\nhpl ...    0    1074
8246  Subject: calpine daily gas nomination\n>\n>\nj...    0    1443
8247  Subject: industrial worksheets for august 2000...    0    3170
8248  Subject: important online banking alert\ndear ...    1    3142

[8249 rows x 3 columns]

In [ ]:
data.drop('text', inplace=True, axis=1)

In [ ]:
data.columns

Index(['spam', 'text_n'], dtype='object')

In [ ]:
data.head()

  spam  text_n
0    0     226
1    0    6565
2    0    6557
3    0    6538
4    0     532

In [ ]:
data.shape

(8249, 2)

In [ ]:
data[data.isnull().any(axis=1)].head()

    spam  text_n
264  NaN    6350
265  NaN    7927
571  NaN       8
572  NaN    7927
673  NaN      86

In [ ]:
data=data.dropna()

In [ ]:
data.shape

(8174, 2)

In [ ]:
clean_data=data.copy()

In [ ]:
clean_data

     spam  text_n
0       0     226
1       0    6565
2       0    6557
3       0    6538
4       0     532
...   ...     ...
8244    0    4201
8245    0    1074
8246    0    1443
8247    0    3170
8248    1    3142

[8174 rows x 2 columns]

In [ ]:
y=clean_data[['spam']].copy()
y.head()

  spam
0    0
1    0
2    0
3    0
4    0

In [ ]:
features=['text_n']

In [ ]:
x=clean_data[features].copy()
x

      text_n
0        226
1       6565
2       6557
3       6538
4        532
...      ...
8244    4201
8245    1074
8246    1443
8247    3170
8248    3142

[8174 rows x 1 columns]

In [ ]:
x.columns

Index(['text_n'], dtype='object')

In [ ]:
y.columns

Index(['spam'], dtype='object')

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.20,random_state=324)

In [ ]:
spam_classifier=DecisionTreeClassifier(max_leaf_nodes=10,random_state=0)
spam_classifier.fit(X_train,Y_train)

DecisionTreeClassifier(max_leaf_nodes=10, random_state=0)

In [ ]:
Y_predicted=spam_classifier.predict(X_test)

In [ ]:
accuracy_score(Y_test,Y_predicted)

0.7657492354740061